#graph-container {
  flex: 1 1 0%;
  margin-left: 0px;

  box-sizing: border-box;
  padding: 12px 12px;

  /* background: #d6eef5ff;
  border: 1px solid #dddddd; */
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  /* box-shadow: 0 8px 28px rgba(0,0,0,0.10); */

  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  overflow: hidden;              /* prevents axis text from spilling out */
}

#overnight-graph {
  width: 100%;
  height: 100%;
  display: block;
}

/* Make axes and title look cleaner*/
#overnight-graph .x-axis text,
#overnight-graph .y-axis text,
#overnight-graph .graph-title {
  font-family: Arial, Helvetica, sans-serif;
}

#overnight-graph .x-axis path,
#overnight-graph .x-axis line,
#overnight-graph .y-axis path,
#overnight-graph .y-axis line {
  stroke: #999;
}

#graph-window-toggle {
  background: #dddddd;
  border: none;
  padding: 6px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: background 0.2s;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* positioning near the graph */
  position: absolute;
  top: 10px;
  right: 10px;
}

#graph-window-toggle:hover {
  background: #acacac;
}

.background-intervals rect {
    pointer-events: none;
}

#graph-legend {
    display: flex;
    gap: 14px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;

    position: absolute;
    bottom: 8px;
    left: 12px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 6px;
}

.legend-swatch {
    width: 18px;
    height: 12px;
    border-radius: 3px;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

/* Summer: nežno rumeno ozadje */
.legend-swatch.summer {
    background: rgba(255, 200, 0, 0.25);
}

/* Covid: poševne rdeče črte */
.legend-swatch.covid {
    background:
        repeating-linear-gradient(
            45deg,
            rgba(200, 0, 0, 0.6) 0px,
            rgba(200, 0, 0, 0.6) 1px,
            transparent 1px,
            transparent 5px
        );
}

