body {
  font-family: Arial, Helvetica, sans-serif;
}

#map-container {
  position: relative;
  width: 60%;
  height: 80vh;
  overflow: hidden;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#focused-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  pointer-events: none;
}

#focused-area.loading {
  backdrop-filter: blur(10px) brightness(0.8);
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: all;
}