#topBar {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  z-index: 10;
  padding: 6px;
}

#toggle-btn {
  background: #dddddd;
  border: none;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
}

#toggle-btn:hover {
  background: #acacac;
}


#searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}

#searchBar {
  width: 400px;
  padding: 6px 5px;
  font-size: 14px;
  box-sizing: border-box;
}

#clearSearchBtn {
  background: #dddddd;
  border: none;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  transition: background 0.2s;
}

#clearSearchBtn:hover {
  background: #acacac;
}

.suggestions-list {
  position: absolute;       /* Dropdown menu under input*/
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  max-height: 200px;
  overflow-y: auto;         /* Scroll if too tall */
  z-index: 9999;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 300px;
  border: none;
  display: none;
}

/* Each suggestion item */
.suggestion-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s;
}

.suggestion-item:hover {
  background-color: #dddddd;
}

.suggestion-item.active {
  background-color: #e0e0ff;
}

.suggestions-list.has-items {
  display: block;
  border: 1px solid #dddddd;
  border-top: none;
}