#main-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0.5%;
  margin-top: 0%;
  overflow: hidden;
}

h2 {
  margin-bottom: 0px;
}
