#main-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
}